$darkGrey: #1f1f1f;
$mediumGrey: #262626;
$lightGrey: #1f1f1f;
$hatchBlue: #63aba5;
$hatchError: #a14061;

#root #component-add-box {
  .MuiCard-root {
    width: 420px;
    height: 420px;
    display: flex;
    overflow-y: auto;

    .MuiCardContent-root {
      padding: 0;
      width: inherit;
      height: inherit;
    }
  }

  .MuiSvgIcon-root {
    color: $hatchBlue;
    font-size: 5em;
    display: flex;
    margin-bottom: auto;
    vertical-align: middle;
    justify-content: center;
    margin-top: auto;
  }
}

#root #component-box {
  display: flex;
  margin-bottom: 3vw;
  .MuiAvatar-root {
    width: auto;
    max-width: 150px;
    height: auto;
    max-height: 100px;
    margin-right: 5px;
  }
  .text-area {
    display: flex;
    flex-direction: column;
    b {
      font-weight: 400;
    }
  }
  .MuiInputBase-root {
    font-size: 1.7em;
  }
  .MuiFormControl-root {
    max-width: 265px;
    margin-right: 0;
    flex-direction: column;
  }

  .MuiCard-root {
    width: 380px;
    height: 380px;
    padding: 20px;
    display: flex;
    overflow-y: auto;
  }
  .MuiCardContent-root {
    padding: 0;
    width: inherit;
    height: inherit;
  }
  .MuiExpansionPanel-root {
    background-color: $mediumGrey;
    color: white;
    border: none;
    box-shadow: none;
    width: 375px;
    .MuiTypography-root {
      text-align: start;
    }
  }
  .MuiExpansionPanelSummary-root {
    height: 50px;
    width: 360px;
    padding: 0;
    .MuiListItemText-root {
      margin-top: 13px;
    }
  }
  .MuiTypography-root {
    justify-content: space-between;
  }
  .component-delete {
    .MuiTypography-root {
      display: flex;
      flex-direction: column;
    }
    .MuiButtonBase-root {
      margin-left: auto;
      margin-right: auto;
      border-width: 1px;
      margin-bottom: 3px;
      border-color: white;
      color: white;
      border-style: outset;
      padding: 0;
      width: min-content;
      background-color: $hatchBlue;
    }
  }
  .MuiIconButton-edgeEnd {
    margin-right: 0;
  }
  .MuiIconButton-root {
    padding: 0;
  }
  .MuiSvgIcon-root {
    color: $hatchBlue;
  }
}

#component-add-box :hover {
  box-shadow: black 0px 0px 12px;
  .MuiSvgIcon-root {
    box-shadow: none;
  }
}
#root .page-components {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  margin-left: 2.5vw;
}
.page-components button {
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
  background: none;
  border: none;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  width: min-content;
  height: min-content;
}

.page-components button:focus {
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
  background: none;
  border: none;

  outline: none;
}

#root .MuiDialog-paperWidthSm {
  background-color: #1f1f1f;
}

#root #component-box .MuiSvgIcon-root :focus {
  margin-bottom: 0;
}
