$hatchBlue: #63aba5;

#component-add-box .MuiCard-root {
  width: 250px;
  height: 250px;
  display: flex;
  overflow-y: auto;
  .MuiSvgIcon-root {
    color: $hatchBlue;
    font-size: 5em;
    display: flex;
    margin-bottom: auto;
    vertical-align: middle;
    justify-content: center;
    margin-top: auto;
  }
}

#component-box {
  .MuiCard-root {
    width: 250px;
    height: 250px;
    display: flex;
    overflow-y: auto;
  }
  .MuiExpansionPanel-root {
    background-color: #2b2b2b;
    color: white;
    border: none;
    box-shadow: none;
  }
}
// #component-box .MuiCard-root :hover {
//   box-shadow: black 0px 0px 12px;
// }

#component-add-box :hover {
  box-shadow: black 0px 0px 12px;
  .MuiSvgIcon-root {
    box-shadow: none;
  }
}

.page-components button {
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
  background: none;
  border: none;
}

.page-components button:focus {
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
  background: none;
  border: none;

  outline: none;
}
