$darkGrey: #1f1f1f;
$mediumGrey: #2b2b2b;
$lightGrey: #1f1f1f;
$hatchBlue: #63aba5;
$hatchError: #a14061;

body {
  color: white;
  background-color: $darkGrey;
}

body #root {
  .MuiPickersBasePicker-pickerView {
    background-color: $mediumGrey;
    color: white;
  }
  .MuiFormLabel-root {
    color: white;
    text-align: center;
    justify-content: center;
  }
  .MuiCard-root {
    color: white;
    margin-bottom: 100px;
    text-align: center;
    justify-content: center;
    padding: 40px;
  }
  .MuiAutocomplete-option {
    background-color: $darkGrey;
    color: white;
  }
  .MuiFormControl-root {
    width: 300px;
  }
  .MuiAutocomplete-root {
    display: inline-flex;
    justify-content: center;
    margin-top: 10px;
    width: 400px;
  }
  .MuiFormControl-root {
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .MuiInput-underline:after {
    border-bottom: 2px solid $hatchBlue;
  }
  .MuiButton-containedPrimary {
    color: #fff;
    background-color: $hatchBlue;
    border-radius: 50px;
  }
}

.MuiPaper-root .MuiButton-outlined {
  border: 1px solid white;
  color: white;
}

.error-message {
  color: $hatchError;
  font-size: 1em;

  &--active {
    visibility: visible;
  }

  &--disabled {
    visibility: hidden;
  }
}

#create-trip {
  .MuiCard-root {
    margin: auto;
    margin-top: 100px;
    .MuiInputBase-input {
      font-size: 1.5em;
    }
  }
  .MuiFormLabel-root {
    font-size: 1.3em;
  }
  .calendar .MuiFormLabel-root {
    margin-top: 10px;
  }
  .calendar .MuiFormControl-root {
    width: 140px;
  }
}
