body {
  background: offwhite;
}

.dashboard-label {
  width: 100vw;
  background-color: #2b2b2b;
  color: #1f1f1f;
  padding: 30px;
  height: 50px;
  margin-top: 0;
  display: inline-flex;
  justify-content: space-between;
  margin-right: 50px;
}

#root hr {
  color: black;
}
.dash {
  justify-content: center;
}
.slick-slider {
  position: relative;
  display: flex;
  width: 100vw;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: all;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

#root .slick-prev {
  display: none !important;
}
#root .slick-next {
  display: none !important;
}

#slider-box {
  display: inline-flex;

  .trip-info {
    display: flex;
    flex-direction: column;
    height: 500px;
  }
}
.trip-info-box {
  color: white;
  margin-bottom: 100px;
  text-align: center;
  justify-content: center;
  padding: 40px;
}

// .slick-prev, .slick-next {
//   position: sticky;
//   top: 50%;
//   width: 20px;
//   height: 20px;
//   padding: 34px;
//   transform: translate(0, -50%);
//   color: transparent;
//   border: none;
//   outline: 30px;
//   background: transparent;
// }

.slick-slide img {
  width: 300px;
  height: 300px;
}

// .slick-prev:before {
//   content: "<";
//   color: teal;
//   font-size: 40px;
// }

// .slick-next:before {
//   content: ">";
//   color: teal;
//   font-size: 40px;
// }
.photo {
  display: inline-flex;
}
.slick-dots {
  width: 100%;
  text-align: center;
  -webkit-text-stroke: thick;
  font-size: 10vw;
  padding: 1px;
}

.trip-button {
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  font-size: 2vw;
  letter-spacing: 0.3em;

  top: 7.5em;
  background: white;
  left: 18em;
  cursor: pointer;
}
.trip-button:hover {
  font-weight: bolder;
}

.trip-details {
  border-style: solid;
  border-width: thin;
  border-color: 333333;

  top: 23em;
  left: 52.5em;
  transform: translate(-13%, -50%);
}
.name {
  font-size: 2vw;
  letter-spacing: 0.3em;
  text-align: center;
}
.description {
  font-size: 1vw;
  text-align: center;
}
.edit {
  letter-spacing: 0px;
  bottom: 3.7em;
  left: 9em;
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  font-size: 4vw;
  letter-spacing: 0.1em;

  top: 2em;
  left: 7.5em;
}
