.user-icon {
  width: 20px;
  height: 23px;
  border-radius: 6px;
  object-fit: contain;
  padding: 2px;
  margin-left: 22px;
  margin-right: 11px;
}

#root .trip-page .MuiPaper-root {
  padding: 0;
}
