$darkGrey: #1f1f1f;
$mediumGrey: #262626;
$lightGrey: #1f1f1f;
$hatchBlue: #63aba5;
$hatchError: #a14061;

#root {
  overflow: -moz-hidden-unscrollable;

  #login-main {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;

    .MuiCard-root {
      margin-top: 100px;
      margin-bottom: 0;
      width: 450px;
      height: 620px;
      background-color: $mediumGrey;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      vertical-align: middle;
      .form {
        display: flex;
        flex-direction: column;
        .MuiInputBase-input {
          font-size: 1.5em;
        }
      }
    }
    .MuiFormHelperText-root.Mui-error {
      color: $hatchError;
      font-size: 1em;
    }

    h1 {
      position: inherit;
    }

    .login-title {
      font-family: "Manrope", sans-serif;
      font-weight: 400;
      font-size: 2.5em;
      color: white;
      margin: 50px auto 20px;
    }
    .MuiFormLabel-root {
      font-size: 1.3em;
    }
    .MuiInputBase-root {
      font-size: 1.5em;
      text-align: center;
    }
    .MuiTextField-root {
      border-radius: 50px;
      margin: 10px auto;
    }
    .MuiOutlinedInput-root {
      height: 60px;
      width: 350px;
      border-radius: 50px;
      box-shadow: 0px 0px 5px;
    }
    .MuiButton-containedPrimary {
      width: 300px;
    }
    .login-submit {
      width: 300px;
      margin: 10px auto;
      border-radius: 50px;
      height: 50px;
      font-size: 17px;
    }
    .login-or {
      color: white;
      margin-top: 37px;
    }
    .google-login {
      width: 200px;
      margin: 50px auto;
      border-radius: 50px;
    }
  }
  .login-logo {
    width: 200px;
    height: auto;
    margin-top: 50px;
  }
}
