#root {
  width: 100vw;
  background-color: #1f1f1f;
}
#root #packing-list .MuiFormControl-root {
  margin-bottom: 0;
}

#root .MuiTypography-root {
  display: flex;
  flex-direction: row;
}

#root .MuiTypography-h5 {
  margin-bottom: 30px;
}

#root .MuiCard-root {
  background-color: #2b2b2b;
  color: white;
  width: max-content;
}

#root .MuiCheckbox-colorSecondary.Mui-checked {
  color: #63aba5;
}

#root .MuiIconButton-colorSecondary {
  color: #63aba5;
}

#root .MuiInputBase-input {
  color: white;
}

#root .MuiInput-underline:before {
  transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-bottom: none;
}

#root #map-box .MuiCard-root {
  padding: 0;
  width: 600px;
}

#root .trip-page .MuiPaper-root {
  padding: 0;
}

#root #packing-list .MuiCard-root {
  height: 320px;
  width: 400px;
  overflow-y: auto;
}
#packing-list .MuiSvgIcon-root {
  padding-right: 0;
  min-height: 0 auto;
  margin-top: 4px;
  margin-left: 11px;
  color: #63aba5;
}

#packing-list .MuiSvgIcon-root:hover {
  padding-right: 0;
  min-height: 0 auto;
  margin-top: 4px;
  margin-left: 11px;
  color: #63aba5;
}

#packing-list .MuiCheckbox-colorSecondary.Mui-checked:hover {
  background-color: inherit;
  color: none;
}

#packing-list .MuiIconButton-colorSecondary:hover {
  background-color: inherit;
}

#packing-list .MuiIconButton-root:hover {
  background-color: inherit;
}

#packing-list h3 {
  margin: 0;
  margin-right: 10px;
}
//want to get rid of hover background color  on this

.trip-row {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
}
.trip-title-row {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
  height: 200px;
}

.trip-date {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}
.trip-page-column {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.trip-row h1 {
  margin-left: 30px;
}
.trip-row h3 {
  margin-left: 30px;
}

.trip-title-section {
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 400px;
}

.user-icon {
  width: 20px;
  height: 23px;
  border-radius: 6px;
  object-fit: contain;
  padding: 2px;
  margin-left: 22px;
  margin-right: 11px;
}
