.home-page .right-menu {
  padding-top: 1em;
  padding-right: 1em;
  .profile-icon {
    display: flex;
    justify-content: flex-end;
    height: fit-content;
    color: white;
    vertical-align: middle;
    .MuiIconButton-label {
      height: 50px;
    }

    h2 {
      vertical-align: middle;
      font-family: "Roboto", sans-serif;
    }
  }
}

.home-login-button {
  display: flex;
  display: none;
  justify-content: flex-end;
}
