#root .nav-bar .right-menu {
  padding-top: 1em;
  padding-right: 1em;
  #profile-icon {
    display: flex;
    justify-content: flex-end;
    height: fit-content;
    color: white;
    vertical-align: middle;
    height: 50px;

    .MuiIconButton-label h2 {
      vertical-align: middle;
      font-family: "Roboto", sans-serif;
      letter-spacing: 0.1em;
      margin-left: 0.2em;
    }
  }
}
#root .navbar .right-menu #profile-icon {
  margin-right: 0;
}
#root .MuiIconButton-label {
  height: 50px;
  letter-spacing: 0.1em;
  margin-left: 0.2em;
}
.home-login-button {
  display: flex;
  justify-content: flex-end;
}

.home-page .right-menu #profile-icon {
  display: flex;
  justify-content: flex-end;
  padding-top: 1em;
  padding-right: 1em;
}

a:-webkit-any-link {
  color: black;
  text-decoration: none;
}
