
#title {
  letter-spacing: 0.2em;
  font-family: "Manrope", sans-serif;
  margin-block-start: 2.0em;
  font-size: 1.3em;
  margin-top: 3.0em;
}
#description {
  font-weight: lighter;
  font-family: "Manrope", sans-serif;
  font-size: 1.2em;
  margin-block-start: -0.2em;
}
#date {
  font-weight: lighter;
  font-family: "Manrope", sans-serif;
  font-size: 1.2em;
}
