#root #weather-box {
  display: flex;
  justify-content: center;
  margin: auto;
  .MuiPaper-root {
    padding: 20px;
  }
  .MuiCard-root {
    display: inline-flex;
    padding: 20px;
    height: 125px;
    width: 1000px;
    background: #1f1f1f;
    border: none;
    box-shadow: none;
  }
  h3 {
    margin-right: 10px;
    font-family: "Manrope", sans-serif;
    font-weight: 300;
    font-size: xx-large;
  }
}

.weather-card {
  text-align: center;
  margin-right: 3px;
}
